body {
  background-color: #abc4cf;
}
.mainHead {
  font-family: belwe;
  font-weight: bold;
  font-size: 300px;
  background-color: #abc4cf; 
  text-align: center;
  color: #5b696e
}
.subHead {
  font-family: monaco;
  font-weight: bold;
  background-color: #abc4cf; 
  height: 200px;
  width: 200px;
}
.openingParagraph {
  font-family: monaco;
  background-color: #abc4cf; 
  height: 500px;
  width: 500px;
}
ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
  font-family: monaco;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}
   

