body {
  background-color: white;
}

.mainHead {
  font-family: monaco;
  background-color: beige; 
  height: 500px;
  width: 500px;
}
   
.openingParagraph {
  background-color: linen; 
  height: 500px;
  width: 500px;
}
   

