body {
  background-color: #dae8e7;
}
.mainHead {
  font-family: belwe;
  font-weight: bold;
  font-size: 600;
  background-color: #dae8e7; 
  height: 700px;
  width: 350px;
  text-align: center;
  color: #57646b
}
.subHead {
  font-family: roboto;
  font-weight: bold;
  background-color: #dae8e7; 
  height: 200px;
  width: 200px;
}
.openingParagraph {
  font-family: roboto;
  font-weight: bold;
  background-color: #dae8e7; 
  height: 500px;
  width: 500px;
}
   

